.top-bar {
    position: fixed;
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 5%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    z-index: 10;
    overflow: hidden;
    box-sizing: border-box;
    
}

.logo-area {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
}
.user-info-card .logout {
    opacity: 0;
    transform: translateY(15px);
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.5s ease;
    margin-top: auto;
  }
.logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
}

.title {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(46, 45, 45);
}

.settings-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.right-section {
    display: flex;
    align-items: center;
    gap:20px;
    flex: 0 0 auto;
}

@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }
    .logo {
        width: 40px;
        height: 40px;
    }
}