/* === Base === */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
}

/* === Layout === */
.container {
  display: flex;
  min-height: 100vh;
}
.top-bar {
  width: 100%;
  background-color: white;
  color: white;
  padding: 2%;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 5px;
}

/* === Sidebar === */
.sidebar {
  width: 250px;
  background-color: #d9f0d2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.school-name {
  color: #145a32;
  font-weight: bold;
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
  text-align: left
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 100px;
}

.menu-btn {
  background-color: #1e8449;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.menu-btn:hover {
  background-color: #196f3d;
}

.logout-btn {
  background-color: #c0392b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  
}

.logout-btn:hover {
  background-color: #922b21;
 
}

/* === Main Content === */
.main-content {
  flex: 1;
  padding: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  padding: 8px 15px;
  border: none;
  background-color: #1e8449;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #196f3d;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  
  
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #f4d03f;
  border-radius: 50%;
  padding-left: 2px;
}

.student-name {
  font-weight: bold;
  margin: 0;
  padding-right: 50px;
}

.student-role {
  font-size: 12px;
  color: gray;
  margin: 0;
}

/* === Info Cards === */
.info-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-grid1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-grid:hover {
  gap: 25px;
}
.card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h2 {
  text-align: right;
  color: #1e8449;
  margin-bottom: 15px;
}

.avatar-large {
  width: 100px;
  height: 100px;
  background-color: #f4d03f;
  border-radius: 50%;
  margin: 0  15px;
  margin-inline-start: 70px 50px;
  
}

.info p {
  margin: 5px 0;
  font-size: 14px;
  text-align: right;
}
.info p strong {
  color: #0f0f0f;
  font-size: 15px;
  gap: 5px;
}